{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Address Book</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
<body>
    {% include 'partials/error_pop_up.html' %}
    <div class="container">
        <div class="breadcrumbs">
            <a href="{% url 'user_home' %}">Home</a> / <span>Address Book</span>
        </div>

        <!-- Dropdown for Sidebar on Mobile-->
        {% include 'partials/dropdown.html' %}

        <div class="main-content">
            {% include 'partials/sidebar.html' %}

            <div class="content">
                <h2>My Addresses</h2>
                <button class="add-address-button" onclick="openAddAddressModal()">Add Address</button>
                <div class="box">
                    {% for address in addresses %}
                        {% if address.order_address.count > 0 %}
                            <div class="info-layout">
                                <div class="info-label">{{ address.building_name }}, {{ address.city }}, {{ address.district }}, {{ address.state }}, {{ address.postal_code }}, Phone: {{ address.phone }}</div>
                                <div class="button-label">
                                    <button style="opacity: 0.5;" title="Cannot Edit as It Is Being Used In Order" id="editbutton" disabled>EDIT</button>
                                    <button style="opacity: 0.5;" class="deletebutton" title="Cannot Delete as It Is Being Used In Order"  disabled>DELETE</button>
                                </div>
                            </div>
                        {% else %}
                            <div class="info-layout">
                                <div class="info-label">{{ address.building_name }}, {{ address.city }}, {{ address.district }}, {{ address.state }}, {{ address.postal_code }}, Phone: {{ address.phone }}</div>
                                <div>
                                    <button id="editbutton" onclick="openEditModal({{ address.id }}, '{{ address.building_name }}', '{{ address.landmark }}', '{{ address.city }}', '{{ address.district }}', '{{ address.state }}', '{{ address.postal_code }}', '{{ address.country }}', '{{ address.phone }}')">EDIT</button>
                                    <button class="deletebutton" onclick="confirmDelete({{ address.id }})">DELETE</button>
                                </div>
                            </div>                    
                        {% endif %}
                    {% empty %}
                        <p>No addresses found.</p>
                    {% endfor %}
                </div>

                <div class="logout">
                    <a href="{% url 'user_logout' %}">
                        <button class="logout-button">Logout</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/add_and_edit_address_modals.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get all elements with the class 'nav-item'
            var navItems = document.querySelectorAll('.sidebar .nav-item');
        
            // Remove the 'selected' class from all nav-items
            navItems.forEach(function(item) {
                item.classList.remove('selected');
            });
        
            // Add the 'selected' class to the 'overview' nav-item
            var overviewLink = document.querySelector('.sidebar .address-book');
            if (overviewLink) {
                overviewLink.classList.add('selected');
            }
        });
    </script>
</body>
</html>
