{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - ChronoCrest</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    {% include 'partials/error_pop_up.html' %}
    <div class="container">
        <img src="{% static 'images/image1.png' %}" alt="Reset Password Image">
        <div class="form-container">
            <h2>Reset Your Password</h2>
            <p class="greeting">Welcome {{ user.first_name }} {{ user.last_name }}, we are here to help you!</p>
            <p class="confirmation">Are you sure you want to change the password for the account associated with <strong>{{ user.email }}</strong>?</p>
            <form id="reset-password-form" action="{% url 'user_reset_password' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ user.email }}">
                <input type="password" name="password" placeholder="New Password" required aria-label="New Password" minlength="3">
                <input type="password" name="confirm_password" placeholder="Confirm New Password" required aria-label="Confirm Password" minlength="3">
                <button type="submit" id="reset-btn" aria-label="Reset Password">Reset Password</button>
            </form>
            
            <div class="redirect-link">
                <p>Remember your password? <a href="{% url 'user_login' %}" class="link">Login</a></p>
                <p>Don't have an account? <a href="{% url 'user_signup' %}" class="link">Sign up</a></p>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('reset-password-form').addEventListener('submit', function(event) {
            const resetBtn = document.getElementById('reset-btn');
            resetBtn.disabled = true;
            resetBtn.innerHTML = 'Sending Otp...'; // Optionally add a spinner here
        });
    </script>
</body>
</html>
