{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - ChronoCrest</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    {% include 'partials/error_pop_up.html' %}
    <div class="container">
        <img src="{% static 'images/image1.png' %}" alt="Reset Password Image">
        <div class="form-container">
            <h2>Reset Your Password</h2>
            <p>Please enter your email address to receive an OTP for verification</p>
            <form id="reset-password-form" action="{% url 'user_forgot_password' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" value="{{user.email}}" required aria-label="Email Address">
                <button type="submit" id="reset-btn" aria-label="Send Password Reset Link">Password Reset OTP</button>
            </form>
            
            <div class="redirect-link">
                <p>Remember your password? <a href="{% url 'user_login' %}" class="link">Login</a></p>
                <p>Don't have an account? <a href="{% url 'user_signup' %}" class="link">Sign up</a></p>
            </div>
        </div>
    </div>    
    <script>
        document.getElementById('reset-password-form').addEventListener('submit', function(event) {
            const resetBtn = document.getElementById('reset-btn');
            resetBtn.disabled = true;
            resetBtn.innerHTML = 'Sending OTP...'; // Optionally add a spinner here
        });        
    </script>
</body>
</html>
