{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
<body>
{% include 'partials/error_pop_up.html' %}
<div class="container">
    <div class="breadcrumbs">
        <a href="{% url 'user_home' %}">Home</a> / <span>My Profile</span>
    </div>

    <!-- Dropdown for Sidebar on Mobile -->
    <div class="dropdown">
        <select id="mobile-nav" onchange="navigateTo(this.value)">
            <option value="/" selected>Overview</option>
            <option value="personal-wallet">Personal Wallet</option>
            <option value="address-book">Address Book</option>
            <option value="user_forgot_password">Change Password</option>
            <option value="user_cart_view">My Cart</option>
            <option value="order-history">Wishlist</option>
            <option value="user_order_history">Order History</option>
        </select>
    </div>

    <div class="main-content">
        {% include 'partials/sidebar.html' %}        

        <div class="content" >
            <h2>My Account</h2>
            <div class="box">
                <div class="box-header">
                    <h3>Account Overview</h3>
                    <button  class="edit_button" id="edit_button" onclick="openModal()">EDIT</button>
                </div>
                <div class="info-layout">
                    <div class="info-label">First Name:</div>
                    <div class="info-value">{{user.first_name}}</div>
                </div>
                <div class="info-layout">
                    <div class="info-label">Last Name:</div>
                    <div class="info-value">{{user.last_name}}</div>
                </div>
                <div class="info-layout">
                    <div class="info-label">Date of Birth:</div>
                    <div class="info-value">{{user.date_of_birth}}</div>
                </div>
                <div class="info-layout">
                    <div class="info-label">Phone Number:</div>
                    <div class="info-value">{{user.phone}}</div>
                </div>
                <div class="info-layout">
                    <div class="info-label">Email Address:</div>
                    <div class="info-value">{{user.email}}</div>
                </div>
            </div>

            <div class="logout">
                <a href="{% url 'user_logout' %}">
                    <button class="logout-button">Logout</button>
                </a>
                <a href="{% url 'user_forgot_password' %}">
                    <button class="change-password">Change Password</button>
                </a>
            </div>  
        </div>
    </div>
</div>

<!-- Modal for Editing User Info -->
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Edit User Information</h3>
            <span class="close" id="close_modal" onclick="closeModal()">&times;</span>
        </div>
        <form action="{% url 'user_profile_update' %}" method="post" id="editForm">
            {% csrf_token %}
            <div class="info-layout">
                <div class="info-label">First Name:</div>
                <input type="text" name="FirstName" id="editFirstName" value="{{ user.first_name }}" required>
            </div>
            <div class="info-layout">
                <div class="info-label">Last Name:</div>
                <input type="text" name="LastName" id="editLastName" value="{{ user.last_name }}" required>
            </div>
            <div class="info-layout">
                <div class="info-label">Date of Birth:</div>
                <input type="date" name="Date_of_birth" id="editDob" value="{{ date_of_birth }}" required>
            </div>
            <div class="info-layout">
                <div class="info-label">Phone Number:</div>
                <input type="tel" id="editphone" name="Phone" maxlength="10" pattern="\d{10}" inputmode="numeric" value="{{ user.phone }}" required  oninvalid="this.setCustomValidity('Integer only, 10 digits')" 
                oninput="this.setCustomValidity('')" 
                title="Integer only, 10 digits">
            </div>
            <input type="hidden" name="Email" id="editEmail" value="{{ user.email }}" required>
            <button id="savechanges" type="submit">Save Changes</button>
        </form>        
    </div>
</div>

<script>
    function navigateTo(value) {
        const baseUrl = '/user_profile'; // Change this to the base URL for your user profile
        const url = `${baseUrl}/${value}`; // Append the selected value to the base URL
        window.location.href = url; // Redirect to the new URL
    }

    function openModal() {
        document.getElementById("modal").style.display = "flex";
    }

    function closeModal() {
        document.getElementById("modal").style.display = "none";
        document.getElementById("errorModal").style.display = "none";
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get all elements with the class 'nav-item'
        var navItems = document.querySelectorAll('.sidebar .nav-item');
    
        // Remove the 'selected' class from all nav-items
        navItems.forEach(function(item) {
            item.classList.remove('selected');
        });
    
        // Add the 'selected' class to the 'overview' nav-item
        var overviewLink = document.querySelector('.sidebar .overview');
        if (overviewLink) {
            overviewLink.classList.add('selected');
        }
    });    
</script>
</body>
</html>
