{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ChronoCrest</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <!-- {% load socialaccount %} -->
    {% include 'partials/error_pop_up.html' %}
    <div class="breadcrumbs">
        <a href="/">Home </a> / <span>Login </span>
    </div>

    <div class="container">
        <img src="{% static 'images/image1.png' %}" alt="Login Image">
        <div class="form-container">
            <h2>Login</h2>
            <form id="login-form" action="{% url 'user_login' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" required aria-label="Email Address">
                <input type="password" name="password" placeholder="Password" required aria-label="Password">
                <button type="submit" id="login-btn" aria-label="Login to your account">Login</button>
            </form>
            
            <div class="redirect-link">
                <p>Don't have an account? <a href="{% url 'user_signup' %}" class="link">Sign up</a></p>
            </div>

            <a href="{% url 'google_login' %}" class="google-login-btn">
                <img src="{% static 'images/Google_logo.png' %}" alt="Google Logo">
                <span>Continue with Google</span>
            </a>

            <p style="width: 100%; display: flex; justify-content: center;">OR</p>
                <div style="margin: 0; margin-top: 10px;" class="redirect-link">
            <p>Forgot your password? <a href="{% url 'user_forgot_password' %}" class="link">Reset Password</a></p>
            </div>
        </div>
    </div>    
    <script>
        // Prevent spaces in input fields
        document.querySelectorAll('#login-form input').forEach(input => {
            input.addEventListener('input', function() {
                this.value = this.value.replace(/\s/g, ''); // Remove spaces
            });
        });
        document.getElementById('login-form').addEventListener('submit', function(event) {
            const loginBtn = document.getElementById('login-btn');
            loginBtn.disabled = true;
            loginBtn.innerHTML = 'Logging in...'; // Optionally add a spinner here
        });        
    </script>
</body>
</html>
