{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <script>
        function toggleTransactionHistory() {
            const historyDiv = document.getElementById('transaction-history');
            const transactionhistory = document.getElementById('transaction_history_button')
            if (historyDiv.style.display === 'none') {
                historyDiv.style.display = 'block';
                transactionhistory.innerHTML = 'Hide Transaction History'
            } else {
                historyDiv.style.display = 'none';
                transactionhistory.innerHTML = 'Show Transaction History'
            }
        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
<body>
{% include 'partials/error_pop_up.html' %}
<div class="container">
    <div class="breadcrumbs">
        <a href="{% url 'user_home' %}">Home</a> / <span>My Profile</span>
    </div>

    <!-- Dropdown for Sidebar on Mobile // mobile aavumbo ith edku matte sidebar hide aaku-->
    {% include 'partials/dropdown.html' %}

    <div class="main-content">
        {% include 'partials/sidebar.html' %}        

        <div class="content" >
            <h2>My Wallet</h2>

            <p>Welcome to your personal wallet. Here you can view your balance and manage your transactions.</p>

            <div class="box">
                <div class="box-header">
                    <h3>Wallet Overview</h3>
                    <button  class="edit_button" id="transaction_history_button" onclick="toggleTransactionHistory()">Transaction History</button>
                </div>
                <div class="info-layout">
                    <div class="info-label">Owner:</div>
                    <div class="info-value">{{user.first_name}} {{user.last_name}} </div>
                </div>
                <div class="info-layout">
                    <div class="info-label">Balance:</div>
                    <div class="info-value">$ {{personal_wallet.balance}}</div>
                </div>
            </div>

            <!-- Transaction history section -->
            <div style="display: none;" id="transaction-history">
                <h2>Transaction History</h2>
                {% if transactions %}
                    <ul>
                        {% for transaction in transactions %}
                            <li>{{ transaction.date }} - {{ transaction.amount }} - {{ transaction.description }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No transactions found.</p>
                {% endif %}
            </div>

            <div class="logout">
                <a href="{% url 'user_logout' %}">
                    <button class="logout-button">Logout</button>
                </a>
                <!-- <a>
                    <button onclick="openModal()" class="change-password">Add Money To Wallet</button>
                </a> -->
            </div>  
        </div>
    </div>
</div>

<!-- Modal for Editing User Info -->
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Add Money To Wallet</h3>
            <span class="close" id="close_modal" onclick="closeModal()">&times;</span>
        </div>
        <form method="post" id="rzp-button1">
            {% csrf_token %}
            <div class="info-layout">
                <div class="info-label">Current Balance:</div>
                <span type="text" name="FirstName" id="editFirstName">$ {{personal_wallet.balance}}</span>
            </div>
            <div class="info-layout">
                <div class="info-label">Amount To Be Added In Dollars:</div>
                <input id="" type="number" min="0" max="10000" maxlength="5" name="total_amount" data-total_amount="{{ total_amount }}" placeholder="In USD $" required>
            </div>
            <input type="hidden" name="Email" id="editEmail" value="{{ user.email }}" required>
            <button id="savechanges" type="submit">Confirm Amount</button>
        </form>
    </div>
</div>

<p id="span" data-order_id="{{ order_id }}" data-wallet="{{ wallet }}">{{order_id}}{{wallet}}</p>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
let input = document.getElementById('span');
var options = {
    "key": 'rzp_test_ogXW1qOaXCrzZG', // Enter the Key ID generated from the Dashboard
    "amount": input.dataset.total_amount,
    "name": "Chrono Crust",
    "description": "Test Transaction",
    // "image": "https://example.com/your_logo",
    "order_id": input.dataset.order_id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        location.reload()
        $.ajax({
            url: "https://formspree.io/f/YOUR_FORM_ID",
            method: "POST",
            dataType: "json",
            data: {
                email: "a.visitor@email.com",
                message: "Hello!"
            }
        });
        alert('Money Added Successfully!')
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
console.log(options.order_id)
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onsubmit = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

<script>
    function navigateTo(value) {
        const baseUrl = '/user_profile'; // Change this to the base URL for your user profile
        const url = `${baseUrl}/${value}`; // Append the selected value to the base URL
        window.location.href = url; // Redirect to the new URL
    }

    function openModal() {
        document.getElementById("modal").style.display = "flex";
    }

    function closeModal() {
        document.getElementById("modal").style.display = "none";
        document.getElementById("errorModal").style.display = "none";
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get all elements with the class 'nav-item'
        var navItems = document.querySelectorAll('.sidebar .nav-item');
    
        // Remove the 'selected' class from all nav-items
        navItems.forEach(function(item) {
            item.classList.remove('selected');
        });
    
        // Add the 'selected' class to the 'overview' nav-item
        var overviewLink = document.querySelector('.sidebar .personal-wallet');
        if (overviewLink) {
            overviewLink.classList.add('selected');
        }
    });    
</script>
</body>
</html>
