<!-- Dropdown for Sidebar on Mobile -->
<div class="dropdown">
    <select id="mobile-nav" onchange="navigateTo(this.value)">
        <option value="/" selected>Overview</option>
        <option value="personal-wallet">Personal Wallet</option>
        <option value="address-book">Address Book</option>
        <option value="user_forgot_password">Change Password</option>
        <option value="user_cart_view">My Cart</option>
        <option value="user_wishlist_view">Wishlist</option>
        <option value="user_order_history">Order History</option>
    </select>
</div>