<div class="sidebar">
    <a href="{% url 'user_profile' %}" class="nav-item overview">Overview</a>
    <a href="{% url 'user_personal_wallet' %}" class="nav-item personal-wallet">Personal Wallet</a>
    <a href="{% url 'user_address_book' %}" class="nav-item address-book">Address Book</a>
    <a href="{% url 'user_cart_view' %}" class="nav-item my-cart" id="my-cart">My Cart</a>
    <a href="{% url 'user_wishlist_view' %}" class="nav-item my-wishlist" id="wishlist">Wishlist</a>
    <a href="{% url 'user_order_history' %}" class="nav-item order-history">Order History</a>
</div>