/* wishlist.css */

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.breadcrumbs {
    font-size: 14px;
    margin-bottom: 20px;
}

.breadcrumbs a {
    color: #333;
    text-decoration: none;
}

.breadcrumbs span {
    color: #777;
}

.main-content {
    display: flex;
    gap: 20px;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-item {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
}

.nav-item.selected {
    background-color: #333;
    color: #fff;
}

.content {
    flex: 3;
}

h2 {
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.wishlist-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishlist-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.item-details h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.item-details p {
    margin: 5px 0;
    color: #666;
    font-size: 14px;
}

.item-price {
    font-weight: 600;
    color: #333;
}

.item-actions {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-form {
    display: inline;
}
.action-form button {
    width: 150px; /* Adjust the width as necessary */
    height: 40px; /* Ensures buttons are the same height */
    margin-right: 10px; /* Add some space between the buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.move-to-cart-button,
.remove-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.move-to-cart-button:hover {
    background-color: #5cb85c;
}

.remove-button {
    background-color: #d9534f;
}

.remove-button:hover {
    background-color: #c9302c;
}

/* Mobile Dropdown Navigation */
.dropdown {
    display: none;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
    
    .sidebar {
        display: none;
    }
    
    .dropdown {
        display: block;
    }
}
