<div class="sidebar">
    <a href="/admin/list_user"><div class="nav-item users">Users</div></a>
    <a href="/admin/list_product"><div class="nav-item products">Products</div></a>
    <a href="/admin/list_collection"><div class="nav-item collections">Collections</div></a>
    <a href="/admin/list_brand"><div class="nav-item brands">Brands</div></a>
    <a href="/admin/orders"><div class="nav-item orders">Orders</div></a>
    <a href="/admin/list_coupons"><div class="nav-item coupons">Coupons</div></a>
    <a href="/admin/sales"><div class="nav-item sales">Sales</div></a>
    <a href="/admin/offers"><div class="nav-item offers">Offers</div></a>
</div>
