* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;
    position: relative;
}

.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    z-index: 1;
}

h2 {
    color: #050505;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-container {
    margin-bottom: 20px;
    position: relative;
}

.input-container label {
    display: block;
    font-size: 14px;
    color: #050505;
    margin-bottom: 5px;
    text-align: left;
}

.input-container input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #28221E;
    outline: none;
}

.button-container {
    margin-top: 20px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #28221E;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-login:hover {
    background-color: #050505;
    transform: scale(1.05);
}

/* Hover effect for inputs */
.input-container input:hover {
    border-color: #28221E;
}
