{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'admin/admin_login.css' %}">
</head>
<body>
    {% include 'partials/error_pop_up.html' %}

    <div class="login-container">
        <div class="login-box">
            <h2>Admin Login</h2>
            <form action="{% url 'admin_login' %}" method="POST">
                {% csrf_token %}
                <div class="input-container">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="Enter your email">
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required placeholder="Enter your password">
                </div>
                <div class="button-container">
                    <button type="submit" class="btn-login">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
