<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_show_user_details.css' %}">
</head>

<body>
    <div class="container">
        <div class="breadcrumbs">
            <a href="/">Home </a> / <a href="/admin">Admin </a> / <a href="/admin/list_user">List User </a> / <span>User Details & Orders</span>
        </div>

        <div class="main-content">
            <!-- Sidebar acting as Navbar on small screens -->
            <div class="sidebar">
                <div class="nav-item selected">User's Overview</div>
                <a href="/admin/blocked_users"><div class="nav-item">Blocked Users</div></a>
                <div class="nav-item">Order History</div>
                <div class="nav-item">Settings</div>
            </div>

            <div class="admin-container">
                <h1>User Details</h1>
                
                <div>
                    <img class="user-image" src="{{ user.profile_image.url }}" alt="{{ user.first_name }}">
                </div>
                <div>
                    <p><strong>First Name:</strong> {{ user.first_name }}</p>
                    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Phone:</strong> {{ user.phone }}</p>
                    <p><strong>Date Of Birth:</strong> {{ user.date_of_birth }}</p>
                </div>
            
                <h2>Addresses</h2>
                <div class="addresses">
                    {% if addresses %}
                        <ul>
                            {% for address in addresses %}
                                <li style="margin-top: 12px;">
                                    <strong>{{ address.building_name }}</strong>, {{ address.landmark }}, {{ address.city }}, {{ address.district }}, {{ address.state }} - {{ address.postal_code }}
                                    <div style="margin-top: 2px;">Phone: {{ address.phone }} {% if address.is_listed == False %} Unlisted {% endif %}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No addresses found for this user.</p>
                    {% endif %}
                </div>

                {% if show_orders %}
                <h2>Order History</h2>
                <div class="order-history-items">
                    {% if orders %}
                        {% for order in orders %}
                            <div class="order-item">
                                <p><strong>Order ID:</strong> {{ order.id }}</p>
                                <p><strong>Order Date:</strong> {{ order.order_date }}</p>
                                <p><strong>Status:</strong> {{ order.status }}</p>
                                <p><strong>Total:</strong> ${{ order.total }}</p>
                                <p><strong>Items:</strong></p>
                                <ul>
                                    {% for item in orders.items %}
                                        <li>{{ item.product_name }} ({{ item.quantity }})</li>
                                    {% endfor %}
                                </ul>
                                <a href="{% url 'admin_order_details' order.id %}" class="show-details-button">View Order Details</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No orders found for this user.</p>
                    {% endif %}
                </div>
                {% endif %}
            
                <a href="{% url 'admin_list_user' %}">
                    <button class="back-button">Back to List</button>
                </a>
                {% if show_orders %}
                <a href="{% url 'admin_show_user_details' user.id %}">
                    <button class="hide-button">Hide Orders Of User</button>
                </a>
                {% else %}
                <a href="{% url 'show_order_of_specific_user' user.id %}">
                    <button class="show-button">Show Orders</button>
                </a>
                {% endif %}

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li style="list-style: none;">
                        {% if message.tags %}
                        Warning:
                        {% endif %}{{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>            
        </div>
    </div>

    <script>
        // Highlight selected nav item
        const navItem = document.querySelectorAll('.nav-item');
        navItem.forEach(item => {
            item.addEventListener('click', () => {
                navItem.forEach(i => i.classList.remove('selected'));
                item.classList.add('selected');
            });
        });
    </script>
</body>

</html>
