<!-- Recent Sales Table -->
<div class="table-container">
    <table id="sales-report">
        <thead>
            <tr>
                <th>Sale ID</th>
                <th>User</th>
                <th>Product</th>
                <th>Date</th>
                <th>Total Amount</th>
                <th>Discounted Total Amount</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {% for sale in sales|slice:":3" %}
            <tr>
                <td>{{ sale.id|capfirst }}</td>
                <td>{{ sale.user.first_name }} {{ sale.user.last_name }}</td>
                <td>
                    {% for item in sale.items.all %}
                        {{item.quantity}} X {{item.product.name}} <br><br>
                    {% endfor %}
                </td>
                <td>{{ sale.created_at.date }}</td>
                <td>{{ sale.total_amount }}</td>
                <td>{{ sale.discounted_amount }}</td>
                <td>{{ sale.total_discount }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No sales found</td>
            </tr>
            {% endfor %}
        </tbody>                        
    </table>
</div>